.login-form{
    width: 60%;
    margin: 0 auto;
}
.login-btn{
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size:18px;
    letter-spacing: .8px;
    font-weight: 700;
}
@media only screen and (max-width: 1000px) {
    .login-form{
        width: 70%;
        margin: 0 auto;
    }
   
}
@media only screen and (max-width: 600px) {
    .login-form{
        width: 90%;
        margin: 0 auto;
    }
   
}