.products-content {
    padding: 67px 216px 0px 216px;
    text-align: center;
}

.products-content h2 {
  color: black;
  font-size: 48px;
  letter-spacing: 0.8px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.products-content p {
  font-size: 18px;
  color: #615555;
  line-height: 29px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1000px) {
    .products-content {
        padding: 67px 116px 0px 116px;
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .products-content {
        padding: 67px 36px 0px 36px;
        text-align: center;
    }
}