
.prd-btn{
    padding: 10px 15px;
    color: yellowgreen;
    background-color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    transition: .5s;
}
a.prd-btn:hover{
    background-color: yellowgreen;
    color: black;
    transition: .5s;
}
.manageInventory-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
@media only screen and (max-width: 700px) {
    .manageInventory-content{
        display: block;
        text-align: center;
    }
    .manageAdd.text-center {
        margin-top: 34px;
    }
}