.special-offer {
  border: 2px solid yellow;
  padding: 30px;
}
.offer-title h2 {
  font-size: 42px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.circle {
  background: yellow;
  padding: 30px;
  border-radius: 50%;
}

.circle p {
  text-transform: capitalize;
  font-size: 18px;
  line-height: -12px;
  text-align: center;
  margin-bottom: 0px;
}

.circle span {
  font-size: 25px;
  font-weight: 700;
  line-height: 0px;
}
.line-through {
  text-decoration: line-through;
  font-size: 32px;
  margin-right: 21px;
  color: black;
}
.offer-content h4 {
  font-size: 24px;
  color: blackp;
  color: blue;
  font-family: "Poppins", sans-serif;
}

.offer-content p {
  font-size: 48px;
  font-weight: 700;
  color: #f0094cf5;
}
.offer-footer span {
  font-size: 20px;
  font-weight: 700;
  color: #585353;
}

.featured-title h3 {
  /* padding: 30px; */
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #5c5757;
}
.featured-title .rated {
  color: black;
  border-bottom: 3px solid yellow;
  padding-bottom: 20px;
}
hr {
  margin-top: -12px;
}
.card {
  padding: 10px;
  text-align: center;
}

.card h5 {
  font-size: 18px;
  color: #0d0d5c;
  line-height: 28px;
}

.card p {
  font-weight: 700;
  font-size: 24px;
  color: #4c4545;
}
@media only screen and (max-width: 766px) {
    .featured-title {
        margin-top: 30px;
    }
}
